.grid-container {
	display: grid;
	margin: 8px;
	grid-template-columns: 0.12fr 1.4fr 0.12fr;
	grid-template-rows: 24px 3fr 100px;
	gap: 0px 0px;
}

.navigation-item {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	color: #000000;
	line-height: 12px;
	padding: 2px;
}

.center-container {
	grid-area: 1 / 2 / 4 / 3;
	background-color: red;
}
.hnlogo {
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	color: #000000;
	line-height: 12px;
	padding: 2px;
}
a:link {
	color: #000000;
	text-decoration: none;
}

.y {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	color: white;
	line-height: 12px;
	margin: 2px;
	padding-left: 4px;
	padding-right: 3px;
	border: 1px solid white;
}
.navbar {
	grid-area: 1 / 2 / 2 / 3;
	background-color: #ff6600;
}
/* .navbar span {
	margin: 3 px;
	padding-left: 4px;
} */
.footer {
	grid-area: 3 / 2 / 4 / 3;
	background-color: #f6f6ef;
}
.body {
	grid-area: 2 / 2 / 3 / 3;
	background-color: #f6f6ef;
}

.footerHr {
	border: 0.8px solid #ff6600;
}
