.story-preview-container {
	display: flex;
	padding-bottom: 3px;
	padding-top: 3px;
}
.story-list {
	padding: 10px;
}
.ord {
	font-size: 13.3333px;
	color: rgb(130, 130, 130);
	padding-right: 4px;
	font-weight: 400;
}

.story-title {
	font-family: Verdana, Geneva, sans-serif;
	color: black;
	font-size: 13.3333px;
	font-weight: 400;
	padding-bottom: 2px;
}
.more {
	font-family: Verdana, Geneva, sans-serif;
	color: rgb(130, 130, 130);
	font-size: 13.3333px;
	font-weight: 400;
	/* padding: 10px; */
	display: flex;
	background: none !important;
	border: none;
	padding: 10px !important;
	cursor: pointer;
}

.hide-button {
	cursor: pointer;
}
.story-details {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9.33333px;
	color: rgb(130, 130, 130);
	font-weight: 400;
}
.story-details a {
	color: rgb(130, 130, 130);
}

.story-title a:visited {
	color: rgb(130, 130, 130);
}

.item-details {
	padding: 16px;
	line-height: 120%;
}

.comment-content {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
	color: rgb(0, 0, 0);
	padding: 2px;
}

.comment-header {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10.6667px;
	font-weight: 400;
	line-height: normal;
	color: rgb(130, 130, 130);
	padding: 2px;
}

.comment-visible {
	padding-bottom: 5px;
	padding-top: 5px;
	display: block;
}
.comment-hidden {
	display: none;
}
.story-text {
	padding-left: 16px;
	padding-bottom: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13.3333px;
	font-weight: 400;
	line-height: normal;
	color: rgb(130, 130, 130);
}
code {
	white-space: pre-wrap;
}

.pollopt-wrapper {
	padding-left: 20px;
}

.story-details-wrapper {
	padding-bottom: 30px;
	padding-left: 15px;
}
